---
import { getCollection } from "astro:content";
import Html from "components/html.astro";
import Nav from "components/navbar.astro";
import ReadingProgressBar from "components/ReadingProgressBar.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const blogPosts = await getCollection("blog");
  const draftPosts = await getCollection("draft"); // PROD에서는 빈 배열

  const posts = [...blogPosts, ...draftPosts];

  return posts.map((entry) => ({
    params: { path: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);

const { title, description, pubDate, kind, tags } = entry.data;

// 태그 URL
const tagLinks = tags?.map((tag) => ({ tag, url: `/tag/${tag}` })) ?? [];
---

<Html
  title={title}
  description={description}
  pubDate={pubDate}
  ogType="article"
>
  <ReadingProgressBar/>
  <Nav />

  <main class="main-container">
    <article class="article-container">
      <div class="article-header">
        <h1 class="title-xl" transition:name={`title-${entry.id}`}>
          {title}
        </h1>
        <div class="article-meta text-small text-muted">
          {kind === "article" && <a href="/kind/article" class="link-article pr-2">Article</a>}
          {kind === "note" && <a href="/kind/note" class="link-note pr-2">Note</a>}
          <span>{pubDate.toISOString().slice(0, 10)}</span>

          {entry.collection === "draft" && (
            <div class="text-draft">_____ Draft _____</div>
          )}
        </div>
      </div>

      <Content />

      {tagLinks.length > 0 && (
        <div class="tags-container">
          <div class="tags-wrapper">
            {tagLinks.map(({ tag, url }) => (
              <a href={url} class="link-tag">
                <span class="tag-hash">#</span>{tag}
              </a>
            ))}
          </div>
        </div>
      )}
    </article>
  </main>
</Html>
