---
import Html from "components/layout/html.astro";
import Nav from "components/layout/navbar.astro";
import movieListData from "assets/movie.json";
import type { Movie } from "../types/movie";

const groupedMovies = movieListData.reduce((acc: Record<number, Movie[]>, movie: Movie) => {
    const rating = movie.rating || 0;
    if (!acc[rating]) {
        acc[rating] = [];
    }
    acc[rating].push(movie);
    return acc;
}, {} as Record<number, Movie[]>);

const sortedRatings = Object.keys(groupedMovies)
    .map(Number)
    .filter(r => r >= 1 && r <= 9)
    .sort((a, b) => b - a);
---

<Html
  title="Responsive Image Gallery"
  description="A sample responsive image gallery."
  ogType="website"
>
  <Nav />
  <main class="main-container">
    <article class="article-container">
      <div class="article-header">
        <h1 class="title-xl">
          영화, TV 별점
        </h1> 
      </div>
      
                    <img src="/images/10.png" class="rating-image" alt="Rating 10"> <p></p>
        <div class="gallery">

            <div class="gallery-item">
                <a target="_blank" href="https://www.themoviedb.org/movie/17654">
                    <img src="https://image.tmdb.org/t/p/w780/tuGlQkqLxnodDSk6mp5c2wvxUEd.jpg" alt="District 9" width="600" height="400">
                </a>
                <div class="desc">District 9</div>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="https://www.themoviedb.org/movie/11423">
                    <img src="https://image.tmdb.org/t/p/w780/QqyXQvd95XWZwi8UtOkN82KNr3.jpg" alt="살인의 추억" width="600" height="400">
                </a>
                <div class="desc">살인의 추억</div>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="https://www.themoviedb.org/movie/745">
                    <img src="https://image.tmdb.org/t/p/w780/mPq0Rt6jxYjl0QIlwmpwJBai1Ez.jpg" alt="The Sixth Sense" width="600" height="400">
                </a>
                <div class="desc">The Sixth Sense</div>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="https://www.themoviedb.org/movie/180">
                    <img src="https://image.tmdb.org/t/p/w500/qtgFcnwh9dAFLocsDk2ySDVS8UF.jpg" alt="Minority Report" width="600" height="400">
                </a>
                <div class="desc">Minority Report</div>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="https://www.themoviedb.org/movie/644">
                    <img src="https://image.tmdb.org/t/p/w500/8MZSGX5JORoO72EfuAEcejH5yHn.jpg" alt="A.I. Artificial Intelligence" width="600" height="400">
                </a>
                <div class="desc">A.I. Artificial Intelligence</div>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="https://www.themoviedb.org/movie/13345">
                    <img src="https://image.tmdb.org/t/p/w500/2Jfl1VI3fLr3VmG8bdtsLUH2cAn.jpg" alt="서유기: 월광보합" width="600" height="400">
                </a>
                <div class="desc">서유기: 월광보합</div>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="https://www.themoviedb.org/movie/21835">
                    <img src="https://image.tmdb.org/t/p/w500/vEiJhunvmxOzUYAzKsRhedc8DtJ.jpg" alt="서유기: 선리기연" width="600" height="400">
                </a>
                <div class="desc">서유기: 선리기연</div>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="https://www.themoviedb.org/movie/13363">
                    <img src="https://image.tmdb.org/t/p/w500/V086R82gNgWrotaXZFO4JhdgB1.jpg" alt="The Man from Earth" width="600" height="400">
                </a>
                <div class="desc">The Man from Earth</div>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="https://www.themoviedb.org/tv/129586">
                    <img src="https://image.tmdb.org/t/p/w500/z2eMgOMTxLHUIYYaLkvZ0Cr7gYe.jpg" alt="똑바로 살아라" width="600" height="400">
                </a>
                <div class="desc">똑바로 살아라</div>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="https://www.themoviedb.org/tv/2173">
                    <img src="https://image.tmdb.org/t/p/w500/xdouJIGDVVixnrE7kfooxe9IO7z.jpg" alt="연애시대" width="600" height="400">
                </a>
                <div class="desc">연애시대</div>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="https://www.themoviedb.org/tv/5717">
                    <img src="https://image.tmdb.org/t/p/w500/uiJfJhdKk8dnzLYbuIBccj0YHbS.jpg" alt="허준" width="600" height="400">
                </a>
                <div class="desc">허준</div>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="https://www.themoviedb.org/tv/83199">
                    <img src="https://media.themoviedb.org/t/p/w220_and_h330_face/edN59WQ9Np8kKhfR6gup8dqqv5S.jpg" alt="솔약국집 아들들" width="600" height="400">
                </a>
                <div class="desc">솔약국집 아들들</div>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="https://www.themoviedb.org/tv/64840">
                    <img src="https://image.tmdb.org/t/p/w500/f6VlRI0fkeysKA1T8DvORxxG7RJ.jpg" alt="시그널" width="600" height="400">
                </a>
                <div class="desc">시그널</div>
            </div>            
            <div class="gallery-item">
                <a target="_blank" href="https://www.themoviedb.org/tv/75820">
                    <img src="https://image.tmdb.org/t/p/w500/uSavP0BSfnyUaJe62f0ZTXIHLs8.jpg" alt="미스터 션샤인" width="600" height="400">
                </a>
                <div class="desc">미스터 션샤인</div>
            </div>
            <div class="gallery-item">
                <a target="_blank" href="https://www.themoviedb.org/tv/93405/season/1">
                    <img src="https://image.tmdb.org/t/p/w500/yACIAqAkSLkX4coHafpyLWAtQjw.jpg" alt="오징어 게임 - 시즌 1" width="600" height="400">
                </a>
                <div class="desc">오징어 게임 S1</div>
            </div>               
        </div>
<p></p>

        {sortedRatings.map(rating => (
            <details> 
                <summary style="list-style: none; cursor: pointer;">
                    <img 
                        src={`/images/${rating}.png`} 
                        class="rating-image" 
                        alt={`${rating}점 평점`}
                    />
                    <span class="rating-count">({groupedMovies[rating].length})</span>
                </summary>
                <ul>
                    {groupedMovies[rating].map(movie => (
                        <li class="rating-list">
                            <a href={movie.url} target="_blank" rel="noopener noreferrer">
                                {movie.title}
                            </a>
                        </li>
                ))}
                </ul>
            </details>
        ))}
    </article>
  </main>
</Html>

<style>
  div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  div.gallery-item {
    margin: 5px;
    width: calc(20% - 10px); 
  }

  div.gallery-item:hover {
    transform: scale(1.05);
  }

  div.gallery-item img {
    width: 100%;
    height: auto;
  }

  div.gallery-item div.desc {
    padding: 15px;
    text-align: center;
  }

  @media only screen and (max-width: 768px) {
    div.gallery-item {
      width: calc(25% - 10px);
    }
  }

  @media only screen and (max-width: 480px) {
    div.gallery-item {
      width: calc(50% - 10px);
    }
  }
  details summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  span.rating-count {
    margin-top: 5px; 
    font-weight: 600;
  }

.rating-list a {
    display: block;
    line-height: 2;
}

.rating-list a:hover {
    background-color: var(--color-thead-bg);
}
</style>