---
import Prose from "components/prose.astro";
import { render } from "astro:content";

const { entry } = Astro.props;
const {
  id,
  data: { title, description, pubDate, kind },
} = entry;
const { Content } = await render(entry);
const draft = entry.id.startsWith("draft/");
---

{
id !== "my-ratings" && id !== "site-info" && (
<li class="feed-item">
  <div class="article-header">
    <a
      class="title-link" 
      href={`/${id}`} 
    >
      <h2 
        transition:name={`title-${entry.id}`}
        class="title-main"
      >
        {title}
      </h2>
    </a>
    <div class="article-meta">
      <div class="text-sm text-muted">
        {
          kind === "article" ? (
            <a href={`/kind/${kind}`} class="link-blue pr-2">
              Article
            </a>
          ) : kind === "note" ? (
            <a href={`/kind/${kind}`} class="link-emerald pr-2">
              Note
            </a>
          ) : null
        }
        <span>{pubDate.toISOString().slice(0, 10)}</span>
      </div>
      {
        draft && (
          <div class="text-sm font-black uppercase text-rose">draft</div>
        )
      }
    </div>
  </div>
  <Prose>
    {
      kind === "article" ? (
        <Fragment set:html={description} />
      ) : kind === "note" ? (
        <Content />
      ) : null
    }
  </Prose>
</li>
)
}