---
import { render } from "astro:content";

const { entry } = Astro.props;
const {
  id,
  data: { title, description, pubDate, kind },
} = entry;
const { Content } = await render(entry);
const draft = entry.id.startsWith("draft/");
---

<li class="feed-item">
  <div class="article-header">
    <a
      class="title-link" 
      href={`/${id}`} 
    >
      <div 
        transition:name={`title-${entry.id}`}
        class="title-main"
      >
        {title}
  </div>
    </a>
    <div class="article-meta text-small text-muted">
        {
          kind === "article" ? (
              <a href={`/kind/${kind}`} class="link-article pr-2">
              Article
            </a>
          ) : kind === "note" ? (
            <a href={`/kind/${kind}`} class="link-note pr-2">
              Note
            </a>
          ) : null
        }
        <span>{pubDate.toISOString().slice(0, 10)}</span>
      {
        draft && (
          <div class="font-black uppercase text-draft">draft</div>
        )
      }
    </div>
  </div>
<div class="feed-item-content">
  {
    kind === "article" ? (
      <Fragment set:html={description} />
    ) : kind === "note" ? (
      <Content />
    ) : null
  }
</div>
</li>