---
import SEO from 'components/seo.astro';
import ColorScheme from "components/colorscheme/head.astro";
import at_icon from "images/apple-touch-icon.png";
import icon from "images/icon.svg";
import "styles/global.css";
import { ClientRouter } from 'astro:transitions';
import { themeColors } from "components/colorscheme/theme.ts";

const { title, description,   themeColor = themeColors.dark.meta, ...restProps } = Astro.props;
---

<!doctype html>
<html class="h-full antialiased" lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content={themeColor} />
    <meta name="color-scheme" content="light dark" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    
    <SEO title={title} description={description} {...restProps} />
    
    <link rel="icon" href={icon.src} />
    <link rel="apple-touch-icon" href={at_icon.src} />
    <ColorScheme />
    <ClientRouter />
  </head>
  <body class="flex h-full flex-col bg-custom-bg-light dark:bg-custom-bg-dark">
    <slot />
  </body>
</html>