---
import ColorScheme from "components/colorscheme/head.astro";
import "styles/global.css";
import { ClientRouter } from 'astro:transitions';
import { themeColors } from "components/colorscheme/theme.ts";
import font1 from "fonts/PretendardGOV-ExtraBold.subset.woff2";
import font2 from "fonts/PretendardGOV-SemiBold.subset.woff2";
import font3 from "fonts/PretendardGOV-Medium.subset.woff2";
import font4 from "fonts/CascadiaCode.woff2";


export interface Props {
  title: string;
  description: string;
  searchTitle?: string;
  robots?: "noindex";
  ogType?: "website" | "article";
  ogTitle?: string;
  ogDescription?: string;
  ogImage?: string;
  themeColor?: string;
  pubDate?: Date;
}

const {
  title,
  searchTitle,
  description,
  robots,
  ogType = "website",
  ogTitle = title,
  ogDescription = description,
  ogImage,
  themeColor = themeColors.dark.meta,
} = Astro.props;

const defaultOgImage = "https://chatter.kr/images/no_ogimage.png";
const finalOgImage = ogImage
  ? new URL(ogImage, Astro.url).toString()
  : defaultOgImage;

// const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const astroRequestUrl = new URL(Astro.request.url);
const site = String(Astro.site).replace(/\/+$/, '');
const canonicalURL = `${site}${astroRequestUrl.pathname}`;
---

<!doctype html>
<html class="h-full antialiased" lang="ko" >
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content={themeColor} />
    <meta name="color-scheme" content="light dark" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    {searchTitle && <meta name="title" content={searchTitle} />}
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />
    {robots && <meta name="robots" content={robots} />}
    <slot name="og">
      <meta property="og:type" content={ogType} />
      <meta property="og:site_name" content="chatter.kr" />
      <meta property="og:title" content={ogTitle} />
      <meta property="og:description" content={ogDescription} />
      <meta property="og:url" content={canonicalURL} />
      {finalOgImage && <meta property="og:image" content={finalOgImage} />}
      <meta property="twitter:card" content="summary_large_image" />
    </slot>
    <link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <link rel="shortcut icon" href="/icons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="chatter" />
    <link rel="manifest" href="/site.webmanifest" crossorigin="use-credentials" />
    <ColorScheme />
    <link rel="preload" href={font1} as="font" type="font/woff2" crossorigin />
    <link rel="preload" href={font2} as="font" type="font/woff2" crossorigin />
    <link rel="preload" href={font3} as="font" type="font/woff2" crossorigin />
    <link rel="preload" href={font4} as="font" type="font/woff2" crossorigin />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="rss" /> -->
    <link rel="alternate" type="application/rss+xml"  href={new URL("rss.xml", Astro.site)} title="rss" />
    <slot name="head" />
    <ClientRouter />
  </head>
  <body class="flex h-full flex-col bg-custom-bg-light dark:bg-custom-bg-dark">
    <slot />
  </body>
</html>