---
import ColorScheme from "components/colorscheme/head.astro";
import font from "fonts/PretendardGOV-Medium.subset.woff2";
import at_icon from "images/apple-touch-icon.png";
import banner from "images/banner.jpg";
import icon from "images/icon.svg";
import "styles/global.css";
import { ClientRouter } from 'astro:transitions';

export interface Props {
  title: string;
  description: string;
  searchTitle?: string;
  robots?: "noindex";
  ogType?: "website" | "article";
  ogTitle?: string;
  ogDescription?: string;
  ogImage?: string; // ogImage를 props로 받아옴
  themeColor?: string;
  pubDate?: Date; // pubDate를 props로 받아옴
}

const {
  title,
  searchTitle,
  description,
  robots,
  ogType = "website",
  ogTitle = title,
  ogDescription = description,
  ogImage, // ogImage를 받아옴
  themeColor = "#121212",
  pubDate, // pubDate는 Date 객체로 전달됨
} = Astro.props;

// 현재 페이지의 URL 경로에서 파일명(slug) 추출
const pathname = Astro.url.pathname; // 예: /ventoy-theme/
const url2 = pathname.split('/').filter(Boolean).pop(); // 예: ventoy-theme

// pubDate를 문자열로 변환 (YYYY-MM-DD 형식)
const pubDateString = pubDate ? pubDate.toLocaleDateString('en-CA') : null;

// pubDateString에서 연도 추출
const year = pubDateString ? pubDateString.split('-')[0] : null;

// ogImage가 없으면 기본 이미지 사용
const defaultOgImage = "https://chatter.kr/images/no_ogimage.png";
//console.log("defaultOgImage:", defaultOgImage);

// ogImage가 있으면 해당 이미지 사용, 없으면 기본 이미지 사용
const finalOgImage = ogImage
  ? new URL(ogImage, Astro.url).toString() // ogImage가 상대 경로일 경우 절대 경로로 변환
  : defaultOgImage;
  // console.log("finalOgImage:", finalOgImage);


const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html class="h-full antialiased" lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    {searchTitle && <meta name="title" content={searchTitle} />}
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />
    {robots && <meta name="robots" content={robots} />}
    <slot name="og">
      <meta property="og:type" content={ogType} />
      <meta property="og:site_name" content="chatter.kr" />
      <meta property="og:title" content={ogTitle} />
      <meta property="og:description" content={ogDescription} />
      <meta property="og:url" content={canonicalURL} />
      {finalOgImage && <meta property="og:image" content={finalOgImage} />}
      <meta property="twitter:card" content="summary_large_image" />
    </slot>
    <link rel="icon" href={icon.src} />
    <link rel="apple-touch-icon" href={at_icon.src} />
    <link rel="manifest" href="/site.webmanifest" crossorigin="use-credentials" />
    {themeColor && <meta name="theme-color" content={themeColor} />}
    <ColorScheme />
    <link rel="preload" href={font} as="font" type="font/woff2" crossorigin />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="rss" />
    <slot name="head" />
    <ClientRouter />
    <meta name="naver-site-verification" content="e782519ae8e3850a5acf6d2089279ece14da7dac" />
  </head>
  <body class="flex h-full flex-col bg-white dark:bg-custom-dark">
    <slot />
  </body>
</html>