---
import OgImage from './OgImage.astro';


export interface Props {
  title: string;
  description: string;
  searchTitle?: string;
  robots?: "noindex";
  ogType?: "website" | "article";
  ogTitle?: string;
  ogDescription?: string;
  ogImage?: string;
  themeColor?: string;
  pubDate?: Date;
}

const {
  title,
  searchTitle,
  description,
  robots,
  ogType = "website",
  ogTitle = title,
  ogDescription = description,
  ogImage,
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!-- 기본 메타태그 -->

<title>{title}</title>
{searchTitle && <meta name="title" content={searchTitle} />}
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL} />
{robots && <meta name="robots" content={robots} />}

<!-- OpenGraph -->
<meta property="og:type" content={ogType} />
<meta property="og:site_name" content="chatter.kr" />
<meta property="og:title" content={ogTitle} />
<meta property="og:description" content={ogDescription} />
<meta property="og:url" content={canonicalURL} />

<!-- OG 이미지는 전문 컴포넌트로 위임 -->
<OgImage {ogImage} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />