---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import FeedItem from "components/content/feed-item.astro";
import Html from "components/layout/html.astro";
import Nav from "components/layout/navbar.astro";
import Pagination from "components/ui/Pagination.astro";
import { PAGE_SIZE } from "config/pagination";

export async function getStaticPaths() {
    const blogPosts = await getCollection("blog");

    let draftPosts: CollectionEntry<"draft">[] = [];
    if (import.meta.env.DEV) {
        try {
            draftPosts = await getCollection("draft");
        } catch (error) {
            console.warn("Draft collection is empty or does not exist");
        }
    }

    const allPosts = [...blogPosts, ...draftPosts];
    const kinds = new Set(allPosts.map((entry) => entry.data.kind));

    const paths = [];

    for (const kind of kinds) {
        // 1. Root kind path (for redirect) e.g. /kind/note
        paths.push({
            params: { path: kind },
            props: { kind, isRedirect: true },
        });

        const filteredPosts = allPosts.filter((p) => p.data.kind === kind);
        filteredPosts.sort(
            (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
        );

        const totalPages = Math.ceil(filteredPosts.length / PAGE_SIZE);

        if (totalPages === 0) continue;

        for (let i = 1; i <= totalPages; i++) {
            const start = (i - 1) * PAGE_SIZE;
            const end = start + PAGE_SIZE;
            const pagePosts = filteredPosts.slice(start, end);

            // 2. Paged paths e.g. /kind/note-1
            paths.push({
                params: { path: `${kind}-${i}` },
                props: {
                    posts: pagePosts,
                    currentPage: i,
                    totalPages,
                    kind,
                    isRedirect: false,
                },
            });
        }
    }

    return paths;
}

const { posts, currentPage, totalPages, kind, isRedirect } = Astro.props;

if (isRedirect) {
    return Astro.redirect(`/kind/${kind}-1`);
}
---

<Html title="mychatterbox" description="이런 것도 팁이 되나 싶은 정보들">
    <Nav />
    <main class="main-container">
        <div class="article-container pt-4 text-big">
            Kind: {kind}
            <hr />
        </div>

        <ul class="feed-list article-container">
            {posts && posts.map((entry) => <FeedItem entry={entry} />)}
        </ul>

        {
            totalPages && (
                <Pagination
                    currentPage={currentPage}
                    totalPages={totalPages}
                    baseUrl={`/kind/${kind}`}
                    separator="-"
                />
            )
        }
    </main>
</Html>
